<div class="row">
  <div class="col-12 col-lg-4">
    <h3><code>ViewEncapsulation.Emulated</code></h3>
    <app-emulated-encapsulation></app-emulated-encapsulation>
  </div>
  <div class="col-12 col-lg-4">
    <h3><code>ViewEncapsulation.ShadowDom</code></h3>
    <app-shadowdom-encapsulation></app-shadowdom-encapsulation>
  </div>
  <div class="col-12 col-lg-4">
    <h3><code>ViewEncapsulation.None</code></h3>
    <app-no-encapsulation></app-no-encapsulation>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Card Title</h4>
  </div>
  <div class="card-body">
    <p>emulated-encapsulation works!</p>
  </div>
</div>
